@groupTitleBackground: #bbb;
@groupBackground: #f8f8f8;

@light: #eee;
@dark: #888;
@pointer: #333;

body {
    font-family: Helvetica, Verdana, sans-serif;
    font-weight: 300;
}

div#gauge {
    width: 300px;
    // height will be 0.575 * width
}
div#week {
    width: 520px;
    height: 176px;
}
div#temp, div#power, div#ltemp, div#lpower {
    width: 400px;
    height: 120px;
    margin: 5px;
}

.instant {
    &.segment-0, &.segment-2 { fill: lighten(@light, 2%); }
}
.median {
    &.segment-0, &.segment-2 { fill: darken(@light, 2%); }
}
.segment-1 { fill: @pointer; }

div.group {
    float: left;
    margin: 5px;
    padding: 5px;

    h2 {
        color: #fff;
        font-size: 18px;
        background-color: @groupTitleBackground;
        margin: 0;
        padding: 3px;
        font-weight: normal;
    }
}
path.area {
    fill: @light;
}
path.line {
    stroke: @pointer;
    fill: none;
    stroke-width: 1.5px;
}

text {
    font-size: 10px;
    font-weight: normal;
    fill: @dark;

    &.centerLabel{
        font-weight: 300;
        text-anchor: middle;
        font-size: 30px;
    }
}

line.tick {
    stroke: darken(@light, 5%);
    stroke-width: 1.5px;
    stroke-opacity: 0.5;

    &.minor {
        stroke-opacity: 0.2;
    }
}
.axis path {
    display: none;
}

div.clear {
    clear: both;
}

.bars {
    fill: @dark;
}
